.idea/workspace.xml
out/production/SDISBackupProject/FileHandler/FileDivider.class
out/production/SDISBackupProject/FileHandler/FileIDCalculator.class
out/production/SDISBackupProject/Peer/PeerMain.class
